body {
	text-align: center;
	background: url("yellow-striped-background-seamless.jpg")no-repeat center center fixed;
	font-family: 'Playfair Display', serif;
	color: #ffffff;
	background-size: cover;
}

h1 {
  font-family: 'Showtime', serif;
  font-size: 150px;
  color: #ffffff;
  text-align: center;
  /* be consistent with indentation */
}

.question {
	background: url("Varios_06_2.png");
	background-position: fixed;
	text-align: center;
	color:#000000;
	font-size: 50px;
	font-family: 'Abril Fatface', cursive;
	padding: 100px 30px 15px 30px;
	margin: auto;
	width:800px;
	height: 315px; /* When possible, using padding to space vertical height instead of hardcoding a value */
}

#optionA, #optionB, #optionC, #optionD {
	background-color:#60ADA2;
	color:#ffffff;
	border-radius:15px ;
	padding: 15px 32px;
	text-align:center;
	display:block;
	font-size: 24px;
	font-family: 'Abril Fatface', serif;
	width:500px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 46px;
  color: #ffffff;
  text-align: center;
}

p1 {
	font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
}

button {
	border: 1px solid #000000;
	background-color:#60ADA2;
	color:#ffffff;
	border-radius:15px ;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 24px;
	display: block;
	position: center;
}

h3 {
  font-family: 'Showtime', serif;
  font-size: 200px;
  color: #ffffff;
  text-align: center;
}
h4 {
	font-family: 'Showtime', serif;
  font-size: 50px;
	color: #ffffff;
  text-align: center;
}

/* Excellent CSS! remember to combine common rules with comma-separated selectors */
